<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="shared/header :: header-css"/>

    <title>Strona domowa</title>
</head>
<body class="card">
<div th:replace="shared/header :: header('kierunkiList')"/>


<div id="main" class="card-body">


    <H1>LISTA KIERUNKOW</H1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>DataUtworzenia</th>
                <th>Liczba miejsc</th>
                <th>Opcje</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="kierunki : ${kierunki}">

                <td th:text="${kierunki.name}"></td>
                <td th:text="${#dates.format(kierunki.createdDate, 'dd-MM-yyyy')}"></td>
                <td th:text="${kierunki.liczbaMiejsc}"></td>
                <td>Zapisz</td>

                <!--<td sec:authorize="hasRole('ROLE_USER')"><a th:href="@{podanieForm.html(id=${kierunki.id})(id_user=)}">Zapis</a></td>-->

            </tr>

            </tbody>
        </table>



</div>

<div th:replace="shared/footer :: footer"></div>
</body>
</html>