<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5 ">
<head>
    <div th:replace="shared/header :: header-css"/>
    <title>Formularz</title>
</head>
<body>
<div th:replace="shared/header :: header('podanieForm')"/>

<div class="card-body container">

    <form th:method="POST" th:object="${podanie}" th:action="@{/podanieForm.html}">
        <fieldset>
            <h1>Dodawanie/Edycja</h1>


            <div class="form-group">
                <select th:field="*{podanie.id}" class="form-control"
                        th:classappend="${#fields.hasErrors('podanie.id')}?'is-invalid'">
                    <span sec:authorize="hasRole('ROLE_USER')">
                        <option value="1">Przyjęcie na studia</option>
                        <option value="2">Przyjęcie na studia</option>
                        <option value="3">Przyjęcie na studia</option>
                        <option value="4">Przyjęcie na studia</option>
                        <option value="5">Przyjęcie na studia</option>
                        <option value="6">Przyjęcie na studia</option>


                    </span>




                </select>

            <div class="form-group">
                <label for="opis" class="bmd-label-floating">Opis:</label>
                <input id="opis" type="text" th:field="*{opis}"
                       class="form-control" th:classappend="${#fields.hasErrors('opis')}?'is-invalid'"
                       required="true"/>
                <div class="error text-danger" th:if="${#fields.hasErrors('opis')}">
                    <p th:each="err : ${#fields.errors('opis')}" th:text="${err}"></p>
                </div>
            </div>



            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Zapisz"/>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <input type="hidden" th:field="*{id}"/>
                    <input
                            type="hidden"
                            th:name="${_csrf.parameterName}"
                            th:value="${_csrf.token}"/>
                </div>
            </div>
        </fieldset>
    </form>
</div>
</div>

</div>
<div th:replace="shared/footer :: footer"></div>
</body>
</html>