<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5 ">
<head>
    <div th:replace="shared/header :: header-css"/>

    <title>Lista podań</title>
</head>
<body class="card">
<div th:replace="shared/header :: header('podanieList')"/>


<div id="main" class="card-body">


    <H1>LISTA PODAŃ</H1>







        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Stan</th>
                <th>Opcje</th>

            </tr>
            </thead>
            <td>
            <td th:each="podanie : ${podanieListPage.content}">

<!--null oczekujacy, pokazuje pracownikowi na liście z przyciskiem akceptuj zmieniajacy stan na 1-->
<!--1 - zaakcceptowany przez pracownika, zmienia stan na 2-->
<!--2 - zaakceptowany przez admina, pokazuje się lista adminowi i on zmienia stan na 3-->
<!--3 - pokazuje na liście pracownika wraz z przyciskiem do zrobienia który przekierowuje na formularz, później zmiana na 4-->
<!--4 zaakceptowane-->



                <span sec:authorize="hasRole('ROLE_DZIEKANAT')"><span th:if="${podanie.id == null}">
                    <td th:text="${podanie.name}"></td>
                    <td th:text="${podanie.opis}"></td>
                    <td><a th:href="@{podanieList.html(stan1=${podanie.id})}">
                        Akceptuj<!--Akceptuj stan 1-->
                    </a></span></span></td>
                <span sec:authorize="hasRole('ROLE_ADMIN')"><span th:if="${podanie.id == 1}">
                    <td th:text="${podanie.name}"></td>
                    <td th:text="${podanie.opis}"></td>
                    <td><a th:href="@{podanieList.html(stan2=${podanie.stan})}">
                        Akceptuj<!--Akceptuj stan 2-->
                    </a></span></span></td>
                <span sec:authorize="hasRole('ROLE_DZIEKANAT')"><span th:if="${podanie.id == 2}">
                    <td th:text="${podanie.name}"></td>
                    <td th:text="${podanie.opis}"></td>
                    <td><a th:href="@{podanieList.html(stan3=${podanie.stan})}">
                        Akceptuj<!--Akceptuj stan 3-->
                    </a></span></span></td>







            </tr>

            </tbody>
        </table>

        <div th:replace="shared/pagination :: pager('/podanieList.html', ${podanieListPage})"></div>

    </div>

    <!--<a sec:authorize="hasRole('ADMIN')" class="btn btn-success" href="specjalnosciForm.html">Dodaj Nowy</a>-->




</div>
</div>
</div>
<div th:replace="shared/footer :: footer"></div>
</body>
</html>