<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5 ">
<head>
    <div th:replace="shared/header :: header-css"/>

    <title>Lista specjalnosci</title>
</head>
<body class="card">
<div th:replace="shared/header :: header('specjalnosciList')"/>


<div id="main" class="card-body">


    <H1>LISTA SPECJALNOŚCI</H1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Opcje</th>

            </tr>
            </thead>
            <tbody>

<tr th:each="nazwa: ${specjalnosci}">

                <td th:text="${nazwa.name}"></td>
                <td><a class="btn btn-success" th:href="@{podanieSpecjalnosciForm.html(id=${nazwa.id})}">Zapisz</a>
                </td>



            </tr>

            </tbody>
        </table>


    </div>

    <a sec:authorize="hasRole('ADMIN')" class="btn btn-success" href="specjalnosciForm.html">Dodaj Nowy</a>

</div>



</div>
</div>
<div th:replace="shared/footer :: footer"></div>
</body>
</html>