<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="shared/header :: header-css"/>

    <title>Lista Użytkowników</title>
</head>
<body class="card">
<div th:replace="shared/header :: header('userList')"/>



    <div id="main" class="card-body">


        <H1>LISTA WSZYSTKICH UŻYTKOWNIKÓW</H1>
        <!--<H3>Implementacja widoku z wykorzystaniem technologii szablonów Thymeleaf</H3>!-->
        <BR>



            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID użytkownika</th>
                    <th>Imie i nazwisko</th>
                    <th>Email</th>
                    <th>Kierunek</th>
                    <th>Specjalność</th>
                    <th>ID ubezpieczenia</th>
                    <th>ID stypendium</th>

                    <th sec:authorize="hasRole('DZIEKANAT')">Opcje</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="u : ${user}">

                    <td th:text="${u.id}"></td>
                    <td th:text="${u.name + u.surname}"></td>
                    <td th:text="${u.email}"></td>
                    <td th:text="${u.kierunki.name}"></td>
                    <!--<td th:text="${u.id_ubezpieczenia}"></td>-->
                    <!--<td th:text="${u.id-stypendium}"></td>-->


                    <td sec:authorize="hasRole('ROLE_DZIEKANAT')">
                        <a class="btn btn-danger" th:href="@{userList.html(did=${u.id})}">Wstaw ocene!</a>
                        <!--<a class="btn btn-success" th:href="@{trainingRoomForm.html(id=${trainingRoom.id})}">Edytuj</a>-->
                    </td>

                </tr>

                </tbody>
            </table>



        </div>



    </div>

<div th:replace="shared/footer :: footer"></div>
</body>
</html>